# /etc/systemd/system/solar-collator.service

[Unit]
Description=Solar usage stats collator for Omnik solar inverter
Wants=solar-collator.timer

[Service]
ExecStart=/usr/bin/python2 /git/Omnik-Data-Logger/OmnikExport.py
WorkingDirectory=/git/Omnik-Data-Logger
Slice=solar-collator.slice

[Install]
WantedBy=multi-user.target