# /etc/systemd/system/solar-collator.service

[Unit]
Description=Runs power usage stats collator for HS110 plugs
Wants=solar-collator.timer

[Service]
ExecStart=/usr/bin/python3 /git/pyHS100/run.py -is containerhost02 -idb metrics -iusr metricsuser -ipass dWeSGaEL5tK59TNt
WorkingDirectory=/git/pyHS100
Slice=solar-collator.slice

[Install]
WantedBy=multi-user.target